body {
    background-image: url('loch-lomond.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  
  .container h1, .container h2, .container h3, .container p, .container li {
    color: #a67c52;
  }

  .list-group {
    font-size: 1.2em;  /* Increase font size */
    margin-left: 20px; /* Add some left margin */
  }
  
  .list-group-item {
    margin-bottom: 10px; /* Add some space between list items */
  }

  .blockquote {
    font-style: italic;
    font-size: 1.2em;
  }